<footer class="footer">
  <section class="footer_navigation">| aasa</section>
  <div class="footer_element"></div>
  <section class="copyright_entry">| aasa</section>
</footer>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    var values = ["road","park","caravan"];
    var chosenValue = values[Math.floor(Math.random() * values.length)];
    var chosenDiv = document.getElementById(chosenValue);
        chosenDiv.style.display = "block";
  });
</script>

<script type="text/javascript">
  var quoteOne = ["Anyone. "];
  var quoteTwo = ["<p> Anywhere"];
  var textPosition = 0; 
  // speed in milliseconds
  var speed = 80;
  typewriter = () => {
    document.querySelector("#typewriter").innerHTML = quoteOne[0].substring(0, textPosition) + quoteTwo[0].substring(0, textPosition);
    
    if(textPosition++ != quoteOne[0].length, quoteTwo[0].length)
      setTimeout(typewriter, speed);
  }

  window.addEventListener("load", typewriter)
</script>

<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script>
  const player = new Plyr('#player');
</script>

<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script>
        window.RufflePlayer = window.RufflePlayer || {};
        window.addEventListener("load", (event) => {
            const ruffle = window.RufflePlayer.newest();
            const player = ruffle.createPlayer();
            const container = document.getElementById("arenanav"); 
            container.appendChild(player);
            player.load({
                url: "/assets/images/arenanav.swf", 
             });
        });
    </script>