<footer class="footer">
  <section class="footer_navigation">| aasa</section>
  <div class="footer_element"></div>
  <section class="copyright_entry">| aasa</section>
</footer>


<script type="text/javascript">
  var quoteOne = ["Anyone. "];
  var quoteTwo = ["<p> Anywhere"];
  var textPosition = 0; 
  // speed in milliseconds
  var speed = 80;
  typewriter = () => {
    document.querySelector("#typewriter").innerHTML = quoteOne[0].substring(0, textPosition) + quoteTwo[0].substring(0, textPosition);
    
    if(textPosition++ != quoteOne[0].length, quoteTwo[0].length)
      setTimeout(typewriter, speed);
  }

  window.addEventListener("load", typewriter)
</script>

<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
<script>
  const player = new Plyr('#player');
</script>