<header class="site-header"></header>

<div class="up">
  <div class="up-left"></div>
  <div class="up-spacer"></div>
  <p class="copy-up">n-gage and n-gage qd copyrating by nokia</p>
</div>

<div class="section-hero">
  <div class="noise-container">
    <div class="noise-wrapper">
      <div class="noise"></div>
    </div>

    <div id="typewriter"></div>
    
    <div id="road"></div>
    <div id="park"></div>
    <div id="caravan"></div>




  <!-- 
  <div class="down">
  <p class="copy-down">
    this site is a collection of links and information about the old device <br>
    If you have any questions or requests, please <a href="">contact me</a> <br>
    - QD icon by <a href="">starvingartist</a> 3D spine made by me</p>
  </div>
   -->

  <div class="icon-qd"></div>

  <nav class="navbar">
    <div class="navbar-spacer"></div>
    <div class="nav_right"></div>
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Main</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/games">Games</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/utilities">Utilities</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/programs">Programs</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/themes">Themes</a></li>
          </ul>
    </nav>
  </div>
</div>