<header class="site-header">
  <nav class="menu">
    <ul>
      <li><a href="#intro">Intro</a></li>
      <li><a href="#beginnings">Beginnings</a></li>
      <li><a href="#games">Games</a></li>
      <li><a href="#russification">Russification</a></li>
      <li><a href="#utilities">Utilities</a></li>
      <li><a href="#programs">Programs</a></li>
      <li><a href="#themes">Themes</a></li>
      <li><a href="#outro">Outro</a></li>
    </ul>
  </nav>

  <div class="fade-in">
    <div id="road">
      <a href="{{ site.baseurl }}/" title="Road" class="logo"><img src="/assets/images/road.png" alt="Road"></a>
    </div>

    <div id="park">
      <a href="{{ site.baseurl }}/" title="Park" class="logo"><img src="/assets/images/park.png" alt="Park"></a>
    </div>

    <div id="caravan">
      <a href="{{ site.baseurl }}/" title="Caravan" class="logo"><img src="/assets/images/caravan.png" alt="Caravan"></a>
    </div>
  </div>
</header>
