<img src="/assets/images/tsr_snakes_mini.gif">

<div class="teaser_entry">
	<a href="">
		<img class="teaser_image_top" src="/assets/images/telegram.svg" alt="Telegram" border="0"></a>
	<div class="teaser_content">
		<p>Зустрічайся з друзями разом з NOKIA N-Gage - будь-коли та будь-де!*.</p>
	</div>
</div>

<div class="arenanav">
	<object width="240" height="404" align="middle">    
		<param name="movie" value="/assets/images/arenanav.swf" />    
		<embed src="/assets/images/arenanav.swf" />    
	</object>
</div>

<div class="side_box_container">
	<div class="side_box_content">
		<p class="side_box_header">Ченжлог:</p>
		<span class="side_box_time"><b>20.04.2024</b></span>	
		<li>Friends List with Online Indicators</li>
		<li>One-on-One Chat</li>
		<li>Message Boards</li>
		<li>Player Profile Pages with Trophies</li>
	</div>
</div>