<div class="side_box_content">
	<h1 class="h2_title">Ченжлог</h1>
	<span class="side_box_time"><b>20.04.2024</b></span>	
	<li>Friends List with Online Indicators</li>
	<li>One-on-One Chat</li>
	<li>Message Boards</li>
	<li>Player Profile Pages with Trophies</li>

	<br>

	<div class="teaser_entry">
		<a href="">
			<img class="teaser_image_top" src="/assets/images/tube.svg" alt="Tube" border="0"></a>
		<div class="teaser_content">
			<p>Зустрічайся з друзями разом з NOKIA N-Gage - будь-коли та будь-де!*.</p>
		</div>
	</div>

	<section class="image-slider">
		<p class="post-header yellowheader12b">n-mage random picker</p>
		<img alt="Colin McRae Rally" src="https://pbs.twimg.com/media/Ff6-lmsWQAA3uFg?format=jpg&name=large" vspace="5" hspace="5" border="1" align="left">
		<p class="image-author">image by <a href="https://twitter.com/pixelianska">Pixelianska</a></p>
	</section>

	<div class="arenanav">
		<object width="240" height="404" align="middle">    
			<param name="movie" value="/assets/images/arenanav.swf" />    
			<embed src="/assets/images/arenanav.swf" />    
		</object>
		<p>It's just an animation of arena nav ui. Links don't works</p>
	</div>
	<p class=gif-one><img src="/assets/images/ng.gif" alt="One"></p>
</div>
