
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

.martian-mono-<uniquifier> {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font-face */

    @font-face {
      font-family: 'HomeVideo-Regular';
      src:url('../fonts/HomeVideo-Regular.woff') format('woff'),
          url('../fonts/HomeVideo-Regular.woff2') format('woff2'),
  
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

body {
  color: #ccc;
  background-image: url("../images/pattern.png");
  /* background-image: url("../images/c.jpg"); */
  background-repeat: repeat;
}

/* Random Logo */

#road{
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  height: 180px;
  background: url("../images/photo.png") no-repeat;
}

#park{
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  height: 180px;
  background: url("../images/photo-2.png") no-repeat;
}

#caravan{
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  height: 180px;
  background: url("../images/photo-3.png") no-repeat;
}


.hero{
  background-color: #030303;
}

.section-hero{
  font-family: "HomeVideo-Regular", sans-serif;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-color: #030303;
  height: 202px;

}
.noise-container{
  position: relative;
  height: 202px;
  top: 0px;
}

#topbar .inner {
  height: 33px;
  background: url("../images/divider-alt.png") repeat-x 0 100%;
  display: block;
}

#topbar a:hover{
  color: #darkred;
}

.historyback{
  font-family: "HomeVideo-Regular", sans-serif;
  letter-spacing: .25em;
  font-size: 7px;
  line-height: 36px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  cursor: pointer;
}

#typewriter{
  font-size: 12px;
  letter-spacing: .25em;
  color: #fff;
  top: 100px;
  position: absolute;
  left: 90px;
  z-index: 999;
  line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

#typewriter p{
  margin-left: 30px;
}

#typewriter{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#typewriter:before,
#typewriter:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#typewriter:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#typewriter:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


.h1_title {
  font-family: "HomeVideo-Regular", sans-serif;
  letter-spacing: .2rem;
  text-shadow: 0 1px 0 #000;
  position: relative;
  margin: 0px;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 18px;
  margin-bottom: 18px;
  width: 211px;
  min-height: 14px;
  background: url("../images/h1_bg.png");
  border: 1px solid #121212;
  font-size: 9px;
  line-height: 12px;
color: white;
  text-transform: uppercase;
}


.h1_title_corner {
position: absolute;
margin: 0;
padding: 0;
left: 0px;
top: 12px;
width: 6px;
height: 6px;
background: url("../images/corner.png");
background-repeat: no-repeat;
}


.up {
  height: 69px;
  position: relative;
  background: url("../images/up.png") no-repeat;
  display: block;
  top: -180px;
  left: 400px;
  z-index: 2;
}

.copy-up{
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  padding: 30px 0 0 110px;
  letter-spacing: .2rem;
}

.down {
  height: 133px;
  position: relative;
  background: url("../images/down.png") no-repeat;
  display: block;
  top: -176px;
  left: 400px;
  z-index: 2;
}

.copy-down{
  position: absolute;
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  padding: 40px 0 0 140px;
  letter-spacing: .2rem;
  line-height: 1.8rem;
}

.copy-down a{
  color: #fff;
}

.copy-down a: hover{
  cursor: pointer;
  color: #000;
}

.icon-qd{
  height: 32px;
  width: 32px;
  position: absolute;
  background: url("../images/icon-qd.gif") no-repeat;
  display: block;
  top: 64px;
  left: 60%;
  z-index: 3;
}

.section .menu .container{
	margin: none; 
}


#searchform input {
margin: 0;
width: 194px;
background: #fff url(images/searchform.png) no-repeat 7px 50%;
color: #aeaeae;
font-size: 12px;
border: 1px solid #bfc2c4;
padding: 4px 7px 4px 27px;
-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.08);
box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}

.navbar {
  display: block;
  position: absolute;
  width: 600px;
  height: 31px;
  z-index: 99;
  top: 174px;
  left: 0;
}

.navbar-spacer {
  float: left;
  display: inline;
  width: 80%;
  height: 31px;
  background: url("../images/white.png");
  background-repeat: repeat-x;
}


.nav_right {
float: right;
display: inline;
width: 20%;
height: 31px;
background: url("../images/32.png");
background-repeat: no-repeat;
}

.navbar-list {
  position: absolute;
  top: 2px;
  left: 6px;
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  border: 1px solid #810908;
  border-right-color: #dc3a21;
	float: left;
	margin: 1px 0;
	height: 25px;
	background: url("../images/b.png");
	background-repeat: repeat-x;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navbar-item:hover{
  border: 1px solid #eeaf42;
  border-right-color: #dc3a21;
  background: url("../images/o.png");
}

.navbar-link {
  font-family: "HomeVideo-Regular", sans-serif;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: .2rem;
	margin:0 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #8f0902;
	line-height: 25px;
	color: #fff;
}

.navbar-link:hover{
  color: #fff;
  text-shadow: 0 1px 0 #ca721d;
}


.navigation_level_1 {
	float: left;
	height: 29px;
	padding-right: 30px;
	overflow: hidden;
}

.navigation_level_1_entries {
float: left;
display: inline;
height: 29px;
padding-left: 50px;
background: url("../images/white.png");
background-repeat: repeat-x;
}

.navigation_level_1_entry {
float: left;
margin: 0px;
padding: 0px;
background: #0C0C0C;
}

.gage_content{
  font-family: "Martian Mono", monospace;
  display: block;
  margin-bottom: 40px;
  font-size: 1rem;
  color: #cccccc;
}

.news_entries a{
  font-size: 1.2em;
  font-family: "HomeVideo-Regular", sans-serif;
}


.example {
  position: relative;
  margin-top: 40px;
}

.example-screenshot {
  width: 184px;
  height: 108px;
}


@media (min-width: 550px){
.example-screenshot-wrapper {
  width: 184px;
  height: 108px;
  left: 0;
  max-height: none;
  }
}


.example-header {
text-transform: uppercase;
font-size: 1.1rem;
letter-spacing: .2rem;
font-weight: 600;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: 10;
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url(../images/noise.png) 0 0;
  background-size: 512px 512px;
  animation: noise 1s steps(8,end) infinite both;
}

@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}


.games_listing_level3_title {
position: relative;
margin: 0px;
padding: 0;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
margin-bottom: 3px;
width: 211px;
height: 14px;
background: url(/web/20050418012440im_/http://www.n-gage.com/ngage2/pics/2.1.18/teaser_bg_2.gif);
border: 1px solid #121212;
font: 12px arial, helvetica;
line-height: 14px;
font-weight: bold;
color: #cccccc;
} 


.footer{
  height: 151px;
  /* background: url("../images/footer.png") repeat-x 0 100%;*/
  display: block;
  margin-top: 10%;
}
.footer_element{
  width: 100%;
  height: 70px;
  z-index: 10;
  background: url("../images/new_footer.gif");
  background-repeat: no-repeat;
}


  .footer_navigation{
    padding-top: 30px;
    padding-left: 60px;
  }

.copyright_entry{
  padding-left: 60px;
}

#player {
  --plyr-color-main: #000;
}

.video-box {
  position: relative;
  border-radius: 10px;
  object-fit: cover !important
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.side_box_container {
  border: solid 8px #7D0601;
  background-color: #fff;
  font-size: 11px;
  font-style: normal;
  text-decoration: none;
  color: #7D0601;
}

.side_box_content {
  padding: 12px;
}

.side_box_header{
  font-size: 1.2em;
  font-family: "HomeVideo-Regular", sans-serif;
}

.tab_contents {
  font: 12px arial, helvetica;
  color: #cccccc;
  position: absolute;
  left: 0px;
  top: 15px;
  background: #2B2B2B;
  border: 1px solid #121212;
}

.yellowheader12b {
  font-size: 12px;
  color: #FBC034;
}

.post-header {
  font-family: "HomeVideo-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .2rem;
}

.example {
  position: relative;
  margin-top: 4rem;
}


.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  height: 108px;
  margin: 20px;
}

@media (min-width: 550px) {
  .example-screenshot-wrapper {
      position: absolute;
      left: 0;
      max-height: none;
  }
}

.screenshot-size-cover{
  background-size: cover;
  width: 176px;
  height: 100px;
  resize: both;
}

.screenshot-overlay{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 184px;
  height: 108px;
}