<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include topbar.html %}

    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 5%">
          <h1 class="h1_title">
                  {{ page.title }}
                <div class="h1_title_corner"></div>
                </h1>
          <p class="page-description">{{ page.description }}</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="six columns">
          <section class="gage_content">
              <p>Наче маленька одіссея у часи, коли телефони були не просто технікою, а справжніми символами епохи. </p>

              <p>Пройшло майже двадцять два роки, а цей шмат «сайдтокінгу» досі тримається на плаву, попри всі негаразди та заміну поколінь різноманітних гаджетів. 
              Всі ці квести з пошуком оригінальних запчастин, карт MMC, ручками з блокнотами, відкривашками пива та програматорами нагадують, що кожна така деталь — частинка старих добрих часів, які хочеться повернути.</p>
              
              <p>Ігри в Ashen по Bluetooth, порвані резинки — усе це не просто ностальгія, це маленьке повернення в 2005-й, у той момент, коли n-gage в руках мав особливий, майже магічний, сенс.</p>
              <img src="/assets/images/splash.gif">

            {{ content }}
          </section>
        </div>

        <div class="three columns">
          {% include slide.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
