<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include topbar.html %}

    <div class="container">
      <section style="margin-top: 5%">
        <h1 class="h1_title">
          {{ page.title }}
          <div class="h1_title_corner"></div>
        </h1>
        <p class="page-description">{{ page.description }}</p>
      </section>
    </div>

    <div class="container">
      <div class="row">
          <section class="gage_content">
            {{ content }}
            {% include comments.html %}
          </section>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
